#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-div{
  align-items: center;
  padding-top: 35px;
  margin: 0;
  text-align: center;
}

.footer-top{
  padding-top: 10%;
  
}